* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: gray;
   
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

form {
    background: rgb(243, 243, 243);
    padding: 46px;
    border-radius: 12px;
}

input, select {
    padding: 8px;
    border-radius: 9px;
    transition: 0.4s;
    border: none;
}

.hover:hover {
    margin: 0px -16px ;
    
}

input:focus {
    background-color: rgba(120, 159, 251, 0.089);
  }

label {
    margin-bottom: 4px;
    font-weight: bold;
}

.dados {
    flex-direction: column
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 12px 0 12px 0;
}

.form-group-age {
    display: flex;
   flex-direction: column;
    margin: 12px 0 12px 0;
}

.options {
    margin: 12px 0 12px 0;
}

.checks label {
    margin-right: 16px;
    margin-left: 12px;
}

.options input {
    margin-right: 6px;
}


.ptos-interesses{
    display: flex;
    flex-direction: column;
    margin: 12px 0 12px 0;
}

.interesse {
    display: flex;
    flex-direction: column;
    margin: 12px 0 12px 0;
}

.checks {
    display: flex;
    margin: 12px 0 12px 0;
}

.botoes button {
    width: 120px;
    padding: 12px;
    border-radius:10px;
    border: none;
    background: green;
    color: white;
}

#reset {
    background: red;
    margin-left: 6px;

}
